<!doctype html>
<html>
	<head>
		<title>ChatLink</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script
		  src="https://code.jquery.com/jquery-3.2.1.min.js"
		  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		  crossorigin="anonymous"></script>
		 <link rel="stylesheet" href="../public/css/style.css">
		<script src="../node_modules/angular/angular.js" type="text/javascript"></script>
		<script src="../public/javascript/app.js" type="text/javascript"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script>
			function validateForm(){
				var x = document.forms["form"]["m"].value;
				document.getElementById("inputbox").value ="";
				if (x == "") {
					alert("Input must be filled out");
				}else{
					submitMessage(x); 
				}
			}
			function submitMessage(x){
				/*should go to server*/
				recieveMessage(x)
			}
			function recieveMessage(x){
				/*should recieve from server*/
				document.getElementById("chatbox-container").innerHTML +="<br />"+x;
				
			}
		
	</script>
	
	</head>
	<body>
		<h2 id="chatlink-title">ChatLink</h2>
		<div id="chatbox-container"></div>
		<div id="inputbox-container">
			<form id="form">
				<textarea id="inputbox" name="m"></textarea>
				<input type="button" id="submit-button" onclick="validateForm()" value="Submit"/>
			</form>
		</div>
	</body>
</html>